<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %}</title>
  <link rel="icon" href="http://www.stat.ucla.edu/favicon.ico" />
  <link rel="stylesheet" href="http://www.stat.ucla.edu/~pmccarthy/mccarthy.css" />
</head>
<body>
 
<div class="main"> 
    <header>
	{% include nav.htm %} 
    </header>
    <div class="bodydiv"> 
	<div class="content"> 
		{{ content }}
	</div><!--end content-->
    <div class="rightnav">
	    <p>line1
	    <p>line2
    </div><!--end rightnav-->

 
    <footer>
	<hr class="foot">
    <p>&#169;2011 Patrick McCarthy</p>
    </footer>
    </div>    <!--end bodydiv-->
  </div>
</body>
</html>
