<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Patrick McCarthy</title>
  <link rel="stylesheet" href="/mccarthy.css" />
  <link rel="stylesheet" href="lightbox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="scripts/d3.v2.10.min.js"></script>

    <script type="text/javascript" src="scripts/colorbrewer.js"></script> <!-- ColorBrewer script for various color schemes, see Reference folder and select file: ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.xls for list of color schemes -->
    <script src="scripts/leaflet-0.4.js"></script> <!-- Leaflet JS -->
    <script src="scripts/L.Control.Zoomslider.js"></script>
    <script src="scripts/leaflet-tilejson.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/osm.tilejson.js"></script>

    <link type="text/css" rel="stylesheet" href="style.css" />
    <link type="text/css" rel="stylesheet" href="leaflet.css" /> <!-- Leaflet CSS -->
    <link type="text/css" rel="stylesheet" href="L.Control.Zoomslider.css" /> <!-- Leaflet zoom CSS -->

    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/d3.v2.10.min.js"></script>
    <!--<script src="/js/jquery-1.7.2.min.js"></script>-->
    <script src="scripts/lightbox.js"></script>
    <script type="text/javascript" src="scripts/colorbrewer.js"></script> <!-- ColorBrewer script for various color schemes, see Reference folder and select file: ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.xls for list of color schemes -->
    <script src="scripts/leaflet-0.4.js"></script> <!-- Leaflet JS -->
    <script src="scripts/L.Control.Zoomslider.js"></script>
    <script src="scripts/leaflet-tilejson.js"></script>
    <script src="scripts/osm.tilejson.js"></script>


	<script type="text/javascript">
	//<![CDATA[
	<!-- show Lightbox Image Details instantly on page load -->
	$(document).ready(function()
	{
	$('#popup').trigger('click');
	});
	//]]>
	</script>

</head>
<body>
 
<a class=lightboxTutorial rel="lightbox" href="images/tut1.png" data-lightbox="tutorial" id="popup" title="Switch between statistics for states and federal hospital referral regions.">Image1</a>	
<a class=lightboxTutorial rel="lightbox" href="images/tut2.png" data-lightbox="tutorial" id="popup" title="Mouse over a region to display its position in the national cost distribution and to display comparative statistics.">Image2</a>	
<a class=lightboxTutorial rel="lightbox" href="images/tut3.png" data-lightbox="tutorial" id="popup" title="Mouse over a hospital to display its information on the plot and in the chart, as well as its tally of different Medicare claims in the tooltip.">Image3</a>	

<div class="main"> 
    <header>
	{% include nav.htm %} 
    </header>
    <div class="bodydiv"> 
    <!--<div class="bodydiv" style="height:985px"> -->
	<div class="content", style="float:left"> 
		{{ content }}
	<div style="clear:both"></div> 
	</div><!--end content-->
  
    <footer>
	<hr class="foot">
    <p class="footer">&#169;2016</p>
    </footer>
    </div>    <!--end bodydiv-->
  </div>
</body>
</html>
